@font-face {
    font-family: 'Neo-Sans-Std';
    font-style: normal;
    font-weight: 400;
    src: local('Neo-Sans-Std'), local('Neo-Sans-Std-Light'), url(fonts/Neo-Sans-Std-Light.ttf) format('truetype');
}
